<!-- END CHAGEABLE CONTENT -->
<?php
	if ( (is_administrator() && (basename($_SERVER['PHP_SELF']) != 'logout.php')) OR (isset($loggedin) && $loggedin) ) {
		print '<hr /><h3>Site Admin</h3>
			<p><a href="index.php">Main</a> <->
			<a href="add_quote.php">Add Quote</a> <->
			<a href="view_quotes.php">View All Quotes</a> <->
			<a href="logout.php">Logout</a></p>';
	} elseif (basename($_SERVER['PHP_SELF']) != 'login.php'){
		print '<hr /><p><a href="login.php">Admin Login</a></p>';
	} else {
		print '<hr /><p><a href="index.php">Main</a></p>';
	}
?>
</div><!-- container -->
<div id="footer">Content &copy;2011</div>
</body>
</html>